@import "tailwindcss";



.apexcharts-tooltip {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
    /* top: auto !important; */
    /* bottom: 50% !important; */
    /* transform: translateY(-130px) !important;
    transform: translateX(70px) !important; */

  }
  
